.footer {
  height: 15vh; }
  .footer .footer-left, .footer .footer-center, .footer .footer-right {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: top;
    height: 100%; }
  .footer .footer-left {
    width: 30%; }
  .footer .footer-center {
    margin: 0 1vh;
    width: calc(35% - 2vh); }
  .footer .footer-right {
    width: 35%; }
