////////// TEMP
body {
    background: black;
}



// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

    $teal:      #3DCAC2;
    $blue:      #1A688A;
    $pink:      #C0156B;
    $green:     #71A60F;
    $yellow:    #FFE35A;
    $darkgrey:  #373B3E;
    $grey:      #535556;
    $purple:    #9377A5;
    $darkpurple:#312B56;
    $tan:       #EAD4C0;
    $lighttan:  #ECDFCD;
    $midtan:    #DABDAB;
    $darktan:   #AA8677;
    $light:     #E0E6E2;

    html, body, div {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    p {
        font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6, p, a {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .main-container {
        height: 56.25vw; //THIS IS TEMP! It should bee 100% since the ratio is 16:9
        background: white;
        background-image: url('./components/backerbottom.png');
        background-size: cover;
    }

    .left-navi {
        display: inline-block;
        width: 100px;
        color: green;
        background: transparent;
        border: none;
        height: 100%;
        display: inline-block;
    }
    
    .right-router {
        width: calc(100vw - 100px);
        display: inline-block;
        vertical-align: top;
    }